@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'BL Melody';
    src: url('/fonts/BL-Melody.woff2') format('woff2'),
    url('/fonts/BL-Melody.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import "tailwindcss";

:root {
    --font-family-inter: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    --font-family-melody: 'BL Melody', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

    --color-icon-active: #F59D0E;
    --color-icon-default: #8C93A1;
    --color-text-default: #677289;
    --color-text-active: #1A1A1A;
    --color-bg-default: rgba(157, 164, 178, .15);
    --color-bg-hover: rgba(157, 164, 178, .35);
    --color-bg-active: #FFFFFF;
    --color-bg-focused: #FFFFFF;
    --color-border-active: #E1E1E1;
    --color-border-focused: #2F72E2;
    --color-bg-context-menu: #FFFFFF;

    --color-danger: #EF494F;
    --color-blue-100: #2F72E2;
    --color-gray-100: #9DA4B2;
}





